* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}


/* === GLOBAL ==== */


body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5rem;
    color: #333;
    height: 100%;
    /* overflow-x: hidden; */
    background: url('../img/cream_pixels.png') top left repeat;
    background: #f2f2f2;
}

h1, h2 {
    margin: 0 0 40px;
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px;
}

p {
    margin: 0 0 15px;
}

nav {
    border-bottom: 5px solid #73a10b;
}

a {
    color: #e48124;
}

section {
    margin: 30px 0px;
}

.btn {
    border-radius: 0px;
}

.btn-success {
    background: #73a10b;
}
/*************** LAYOUT *****************/


.hero {
    min-height: 400px;
    background: white;
    background: linear-gradient(
        rgba(20,20,20, .4), 
        rgba(20,20,20, .4)),
        url('../img/feu-pledge.jpg');
    background-size: cover;
    opacity: 0.9;
    padding: 20px 0;
}

.hero h1,
.hero h2 {
    color: white;
}

#missionState {
    background: white;
    padding: 40px;
}

.home-menu {
    /* background: white; */
    padding: 50px 0 120px;
    margin-top: -40px;
}

.home-menu h4 {
    padding: 10px 5px;
    margin-bottom: 0;
    background: white;
    border-bottom: 3px solid #e48124;
}

.home-menu p {
    padding: 10px 5px;
}

.home-menu-blurb {
    background: white;
    padding: 15px;
    height: 250px;
}

.home-menu-blurb button {
    margin: 10px 5px;
}

footer {
    background: #73a10b;
    color: white;
    font-weight: 300;
    padding: 10px 0 50px;
}

footer a {
    color: white;
}

.footerNav {
    padding-top: 15px;
    margin: 0;
}

.footerNav ul,
.footerCopyright li {
    list-style-type: none;
    font-size: 13px;
}

.footerNavHdg {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}


.footerCopyright {
    background: #e48124;
    color: white;
}

.footerCopyright p {
    margin: 0;
    font-size: 13px;
    padding: 10px 0;
}

.footerCopyright a {
    color: white;
}

.footerCopyright p,
.footerCopyright ul {
    text-align: center;
}

.feature-image {	
	display: table;
	width: 100%;
}



.feature-image-default-alt {
	background: white;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #73a10b, #8bc653);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #73a10b, #8bc653); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    background-size: cover;
    border: solid 1px #ddd;
}

.feature-image h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    color: white;
    padding: 20px 0;
}



/******** ANNOUNCEMENT STYLES ********/

.post {
    position: relative;
    border: solid 1px #ddd;
    background: white;
    margin: 0 0 40px;
    /* -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; */
}

.post-image {
	height: auto;
}

.post header,
.post .post-excerpt {
    padding: 20px;
}

.post header h1,
.post header h3 {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: solid 1px #ddd;
}

.post header h1 {
    font-size: 24px;
}

.post-details {
    font-size: 12px;
    width: 90%;
}

.post-details i.fas {
    padding-left: 10px;
}

.post-details i.fas:first-child {
    padding: 0;
}

/******* COMMENT BUBBLE  ********/

.post-comments-badge {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 25px;
    right: 20px;
    border: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #73a10b;
    text-align: center;
    display: table;
}

.post-comments-badge a {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 20px;
    line-height: 20px;
}

.post-comments-badge i.fas {
    display: block;
    font-size: 15px;
    padding: 0;
    margin-bottom: 4px;
}

.post-comments-badge:hover {
    background-color: #8bc653
}